body {
  padding-top: 70px; /* Add padding to the top to avoid content being hidden behind the navbar */
  margin-bottom: 50px; /* Add padding to the bottom to avoid content being hidden behind the footer */
}

.app-content {
  width: 90%;
  margin: 0 auto; /* Center the content */
  padding-left: 0; /* Add some padding */
  padding-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styles */

.navbar {
  position: fixed;
  width: 100%;
  top: 0.6rem;
  left: 0;
  padding-top: 1.5rem;
  z-index: 1000; /* Ensure it stays on top of other content */
}

.nav-links {
  list-style: none; /* Remove bullet points */
  display: flex; /* Enable flexbox */
  justify-content: flex-end; /* Align items to the right */
  margin: 0;
  padding: 0;
  align-items: center; /* Center items vertically */
  padding-right: 4.2rem; /* Add some padding to the right */
}

.navbar li {
  margin-left: 30px; /* Space between links */
}

.navbar li:first-child {
  margin-left: 0; /* Remove left margin for the first item */
}

.navbar a {
  text-decoration: none; /* Remove underlines from links */
  color: #000000; /* Set link text color */
  font-weight: bold;
  font-size: 1.3em; /* Increase font size */
  line-height: 1.5; /* Increase line height */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar a:hover {
  color: #8d8d8d; /* Change color on hover */
}

#navbar-icon {
  font-size: 1.2em; /* Increase icon size */
  color: #000000; /* Set icon color */
  margin-right: 10px; /* Space between icon and text */
  vertical-align: -5px; /* Align icon with text */
}


/* Footer styles */

.footer {
  background-color: #a39f9f;
  position: fixed;
  height: 50px;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 0;
  
}

